.fullscreen-container {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  transition: all ease 0.2s;
  background-color: rgba(40, 40, 40, 0.9);

  img {
    pointer-events: none;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    object-fit: contain;
  }

  &.show {
    opacity: 1;
    z-index: 2;
  }
}
