.gif-page-container {
  .spinner-container {
    display: flex;
    justify-content: center;
    top: 50%;
    position: absolute;
    left: 50%;
  }
  .giphy-container {
    display: grid;
    .img-container {
      img {
        margin-top: 20px;
        cursor: pointer;
        width: 50%;
        margin: 0 auto;
      }
    }

    @media (min-width: 992px) {
      grid-template-columns: auto auto auto auto;
      margin-left: 10%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      grid-template-columns: auto auto auto;
      margin-left: 15%;
    }
    @media (max-width: 768px) {
      grid-template-columns: auto auto;
      margin-left: 20%;
    }
  }
}
